:root {
    --md-primary-fg-color:        #337ab7;
    --md-primary-fg-color--light: #45a8ff;
    --md-primary-fg-color--dark:  #15334e;
    --md-accent-fg-color:                #337ab7;
    --md-accent-fg-color--transparent:   #3379b71c;
  }