:root {
    --md-primary-fg-color:        #337ab7;
    --md-primary-fg-color--light: #45a8ff;
    --md-primary-fg-color--dark:  #15334e;
    --md-accent-fg-color:                #337ab7;
    --md-accent-fg-color--transparent:   #3379b71c;
    --md-footer-bg-color--dark:          none;
  }

div.video-sizer {
  /* If we want centered video */
  /* margin: 0 auto; */
  max-width: 600px;
  width: 100%;
}

div.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;
}

div.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.md-typeset ul li {
  margin-bottom: .25em;

}

.md-typeset ul li ul li {
    list-style-type: square; 
    margin-bottom: 0px;
}

.md-typeset h2 {
    margin-top: .5em;
    margin-bottom: .25em;
}

.md-typeset h3 {
  margin-top: .5em;
  margin-bottom: .25em;
}

.md-typeset h1 {
  margin-bottom: .5em;
}

.md-typeset ul li ul {
    margin-top: 0px;
}

.md-typeset li details {
  margin-bottom: 0px;
  margin-top: 0px;
}

/* Footer to display messages */
.md-typeset table:not([class]) td{
  vertical-align: middle;
  text-align: center;
}

.md-footer {
  box-sizing: unset;
  height: auto;
}

.md-footer-meta__inner {
  text-align: center;
  display: block;
  padding: 0;
}

.md-copyright {
  display: none;
}

footer.md-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content; /* replace with actual footer height */
  padding: 2px;
}

footer.md-footer p{
  padding: 0;
  margin: 0;
}

/* Some extra padding so the footer always fits */
main {
  padding-bottom: 80px;
}

.md-sidebar__scrollwrap {
  padding-bottom: 20px;
}

/* If too narrow, hide the footer */
@media (max-width: 767px) {
  footer {
    display: none;
  }
}

.md-typeset ul {
  margin-bottom: 0;
  margin-top: 0;
}

.md-typeset p {
  margin-block-end: 0;
  margin-block-start: 0;
}